
@font-face {
    font-family: "Press Start K";
    src: url("/fonts/prstartk.ttf");
}


body {
  padding-bottom: 20px;
  color: #ddd;
  background: #333;
}

.title {
  font-family: "Press Start K";
  text-align: center;
}

h5.title, h4.title {
  font-size: 16px ;
}

.stroke {
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}


.stroke-hard {
  text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

.inactive {
  filter: gray; 
  filter: grayscale(1); 
  -webkit-filter: grayscale(1); 
}

.tagline {
  font-family: "Press Start K";
  position:relative;
  top: -20px;
  left: 62px;
  font-size: 12px;
}

.steam-login {
  margin-top: 5px;
}

.navbar-nav > li > a > img {
  border: 1px solid black;
}

.navbar-icons img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.navbar {
  background-color: #1d2a38;
}

.footer {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  font-size:8pt;
}

.table-hover tbody tr:hover {
  background-color: rgba(1,1,1,0.7);
  cursor: pointer;
}

.player-avatar {
  border: 3px solid rgba(1,1,1,0.3) ;
}

.datepicker-days .day:hover {
  background-color:black !important;
}

.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}

.table>thead {
  border-bottom: 1px solid rgba(255,255,255, 0.3);
  font-weight: bold;
}

.ranktable>thead {
  border-bottom: 1px solid rgba(255,255,255, 0.3);
  font-weight: normal;
}

.ranktable > tbody > tr:nth-child(odd) > td {
   background-color: rgba(0,0,0,0.3);
}

.hidden-score {
  color:#999;
}


.sidebar-box {
  margin-bottom: 10px;
  outline: 2px solid black;
}

.crown {
  margin: 5px 10px 5px 0;
}

.wins {
  z-index: 99;
  font-family: "Press Start K";
  font-size: 12px;
  position:relative;
  top: 8px;
  left: -7px;
}

.warning {
  font-size: 12pt;
  background-color: #990000;
  color: white !important;
}

.btn-retro, .btn-retro:focus  {
  padding: 5px;
  margin: 3px;
  font-family: "Press Start K";
  text-transform: uppercase;
  border-radius: 0;
  border: #3b4059 3px solid;
  background-color: #1d2a38;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.btn-retro:hover {
  border: white 3px solid;
  color: #fff !important;
}

.btn-retro:active {
  background-color: #3b4059;
}

/* Firefox hack for responsive tables (OPPAN IE STYLE) */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.sidebar-text {
  padding: 10px;
}

.center {
  text-align: center;
}
/* Tablet and desktop only rules. */
.navbar-brand {
  padding: 7px;
}
@media only screen and (min-width: 768px) {
  .navbar-icons > li > a {
    margin: 9px 5px 9px 0;
    padding: 0;
    border: 1px solid black;
  }
  
}
