
@font-face {
    font-family: "Press Start K";
    src: url("/fonts/prstartk.ttf");
}


body {
  padding-bottom: 20px;
  color: #ddd;
  background: #333;
}

.title {
  font-family: "Press Start K";
  text-align: center;
}

h5.title, h4.title {
  font-size: 16px ;
}

.stroke {
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}


.stroke-hard {
  text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

.inactive {
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.tagline {
  font-family: "Press Start K";
  position:relative;
  top: -20px;
  left: 62px;
  font-size: 12px;
}

.steam-login {
  margin-top: 5px;
}

.navbar-nav > li > a > img {
  border: 1px solid black;
}

.navbar-icons img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.navbar {
  background-color: #1d2a38;
}

.footer {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  font-size:8pt;
}

.table-hover tbody tr:hover {
  background-color: rgba(1,1,1,0.7);
  cursor: pointer;
}

.player-avatar {
  border: 3px solid rgba(1,1,1,0.3) ;
}

.datepicker-days .day:hover {
  background-color:black !important;
}

.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}

.table>thead {
  border-bottom: 1px solid rgba(255,255,255, 0.3);
  font-weight: bold;
}

.ranktable>thead {
  border-bottom: 1px solid rgba(255,255,255, 0.3);
  font-weight: normal;
}

.ranktable > tbody > tr:nth-child(odd) > td {
   background-color: rgba(0,0,0,0.3);
}

.hidden-score {
  color: #333;
  text-decoration:line-through;
}
.no-strike {
  text-decoration: none !important;
}


.sidebar-box {
  margin-bottom: 10px;
}

.crown {
  margin: 5px 10px 5px 0;
}

.wins {
  z-index: 99;
  font-family: "Press Start K";
  font-size: 12px;
  position:relative;
  top: 8px;
  left: -7px;
}

.wins-big {
  font-family: "Press Start K";
  font-size: 16px;
  text-align: center;
}

.player-title > a {
  color: #fff;
}

.stat-title {
  font-family: "Press Start K";
  font-size: 8px;
}

.stat-value {
  font-family: "Press Start K";
  font-size: 16px;
}

.warning {
  font-size: 12pt;
  background-color: #990000;
  color: white !important;
}

.btn-retro, .btn-retro:focus  {
  padding: 5px;
  margin: 3px;
  font-family: "Press Start K";
  text-transform: uppercase;
  border-radius: 0;
  border: #3b4059 3px solid;
  background-color: #1d2a38;
  color: #fff;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}

.btn-retro-success {
  border: #3D593B 3px solid !important;
  background-color: #24381D !important;
}

.btn-retro-fail {
  border: #593B3B 3px solid !important;
  background-color: #381D1D !important;
}

.text-retro {
  padding: 5px;
  margin: 3px;
  font-family: "Press Start K";
  border-radius: 0;
  border: #3b4059 3px solid;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.text-retro:focus {
    background-color: #1d2a38;
}

.btn-retro:hover {
  border: white 3px solid;
  color: #fff !important;
  text-decoration: none;
}

.btn-retro:active {
  background-color: #3b4059;
}

/* Firefox hack for responsive tables (OPPAN IE STYLE) */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.sidebar-text {
  padding: 10px;
}

.center {
  text-align: center;
}

.more-link {
  color: #fff;
}

.more-link:hover {
  color: #3b4059;
}
.desert-wall {
  background-image: url("/img/textures/desert-top-bottom.png"),  url("/img/textures/desert-top-main.png");
  background-position: center bottom, left top;
  background-repeat: repeat-x, repeat;
  -webkit-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  position: relative;
  z-index: 10;
  height: 77px;

  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.palace-wall {
  background-image: url("/img/textures/top-bottom.png"),  url("/img/textures/top-main.png");
  background-position: center bottom, left top;
  background-repeat: repeat-x, repeat;
  -webkit-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  position: relative;
  z-index: 10;
  height: 130px;


  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.vault-wall {
  background-image: url("/img/textures/vault-top-bottom.png"),  url("/img/textures/vault-top-main.png");
  background-position: center bottom, left top;
  background-repeat: repeat-x, repeat;
  -webkit-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  position: relative;
  z-index: 10;
  height: 77px;


  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.frozen-wall {
  background-image: url("/img/textures/frozen-top-bottom.png"),  url("/img/textures/frozen-top-main.png");
  background-position: center bottom, left top;
  background-repeat: repeat-x, repeat;
  -webkit-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  position: relative;
  z-index: 10;
  height: 77px;


  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.mansion-wall {
  background-image: url("/img/textures/mansion-top-bottom.png"),  url("/img/textures/mansion-top-main.png");
  background-position: center bottom, left top;
  background-repeat: repeat-x, repeat;
  -webkit-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 45px 0px 0px rgba(0,0,0,0.25);
  position: relative;
  z-index: 10;
  height: 77px;


  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}


.mansion-floor {
  background-image: url("/img/textures/mansion-floor.png");
  background-repeat: repeat;


  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.mansion-floor > .col-md-12 {
  position:relative;
  z-index: 20;
}

.palace-floor {
  background-image: url("/img/textures/palace-floor.png");
  background-repeat: repeat;


  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.palace-floor > .col-md-12 {
  position:relative;
  z-index: 20;
}

.vault-floor {
  background-image: url("/img/textures/vault-floor.png");
  background-repeat: repeat;

  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}


.vault-floor > .col-md-12 {
  position:relative;
  z-index: 20;
}

.desert-floor {
  background-image: url("/img/textures/desert-floor.png");
  background-repeat: repeat;


  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.desert-floor > .col-md-12 {
  position:relative;
  z-index: 20;
}

.frozen-floor {
  background-image: url("/img/textures/frozen-floor.png");
  background-repeat: repeat;
  color: black;


  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.frozen-floor > .col-md-12 {
  position:relative;
  z-index: 20;
}

.leaderboard > .inner {
  padding: 0 10px 0px 10px;
  margin-bottom: 10px;
}

.sidebar-title {
  margin-top: 17px;
}

.global {
  text-align: center;
  margin: 10px 0 10px 0;
  padding: 5px 0 0 0;
  font-family: "Press Start K";
  font-size: 12px;
}
.stat {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.ranktable > thead {
  font-weight: bold;
}

.ranktable a {
  color: #ffffff;
}

.streams {
  margin-top: 10px;
  color: black;
}

.stream {
  height: 60px;
}

.stream-title {
  font-weight: bold;
}

.name {
  font-family: "Press Start K";
  font-size: 16px;
  word-break: break-all;
}

.subname {
  font-family: "Press Start K";
  font-size: 12px;
}

.user-picture {
  float: left;
  margin-right: 10px;
}

.usercard > a {
  color: #ffffff;
}

.dark-modal-content {
  background-color: #333;
}

.player-title {
  margin-top: 5px;
}

.profile-subtitle {
  font-family: "Press Start K";
  text-transform: uppercase;
}

.badges {
  margin: 5px 5px 15px 0;
  text-align: center;
}

.tbbadge {
  margin: 0 -20px 0 0;
  display: inline;
}

.no-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.form-search {
  padding: 3px;
  text-align: center;
}

.not-found {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.text-twitch {
  width: 300px !important;
}

.links {
  margin-top: 5px;
}

.adv {
  padding: 5px;
}

.donated {
  color: #C0F2AC !important;
}

/* Mobile rules. */

@media only screen and (max-width: 992px) {
  .sidebar-box {
    padding: 0 10px 0px 10px;
  }
}

/* Tablet and desktop only rules. */
.navbar-brand {
  padding: 7px;
}
@media only screen and (min-width: 768px) {
  .navbar-icons > li > a {
    margin: 9px 5px 9px 0;
    padding: 0;
    border: 1px solid black;
  }

}
