body {
  padding-top: 20px;
  padding-bottom: 20px;

  background: #333 url('../img/background.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: #ddd;
}

.navbar {
  margin-bottom: 20px;
}

.main {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;  
  padding-bottom: 10px;
}

.sidebar-box {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 5px 0px 5px 5px;  
  margin-bottom: 10px;
}

.sidebar-box hr {
  margin: -1px 1px 0 -1px;
  border-color: rgba(255,255,255,0.5);
}

.footer {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  font-size:8pt;
}

.table-hover tbody tr:hover {
  background-color: rgba(1,1,1,0.7);
  cursor: pointer;
}

.player-avatar {
  border: 3px solid rgba(1,1,1,0.3) ;
}

.datepicker-days .day:hover {
  background-color:black !important;
}

.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}

.table>thead {
  border-bottom: 1px solid rgba(255,255,255, 0.3);
  font-weight: bold;
}

.ranktable > tbody > tr:nth-child(odd) > td {
   background-color: rgba(0,0,0,0.3);
}

/* Firefox hack for responsive tables (OPPAN IE STYLE) */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
